/* Estilos pagina password restablecida */
/*contenedor*/
div.contenedor_titulos {
    text-align: center;
}
/*h3*/
h3.subtitulo_h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 0;
}
/*contenedor_formulario*/
div.contenedor_formulario{
    text-align: center;
    /* margin: 20px 0; */
}
/*Boton registrarse*/
a.boton_registrarse {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 3px 25px;
    border: 2px solid #EBCA9A;
    color: #EBCA9A;
    margin: 20px 0;
    text-decoration: none;
    /*EFECTOS*/
    transition: all 0.3s ease 0s;
}
/*Hover boton*/
a.boton_registrarse:hover {
    background-color: #EBCA9A;
    color: #FFFFFF;
}
/*Parrafo introducir codigo*/
a.texto {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    margin: 10px 0;
    text-decoration: none;
    color: #000000;
}
/*X-Small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    /*Parrafo introducir codigo*/
    a.texto {
        font-size: 1rem;
    }
    /*Boton verificar*/
    p.pregunta {
        margin-top: 50px;
    }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    /*Te enviamos un codigo*/
    h3.subtitulo_h3 {
        font-size: 1.4rem;
    }
    /*Boton verificar*/
    a.boton_registrarse {
        font-size: 1.3rem;
        padding: 4px 30px;
        margin-top: 20px;
    }   
    /*Boton verificar*/
    p.pregunta {
        margin-top: 20px;
    }
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    /*Crear cuenta*/
    h3.subtitulo_h3 {
        font-size: 1.2rem;
    }
    /*Boton registrarse*/
    a.boton_registrarse {
        font-size: 1.3rem;
        padding: 4px 30px;
    }
    /*Parrafo introducir codigo*/
    a.texto {
        font-size: 1.1rem;
    }
}
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    /*Crear cuenta*/
    h3.subtitulo_h3 {
        font-size: 1.5rem;
        margin: 10px 0;
    }
    /*Boton verificar*/
    p.pregunta {
        margin-top: 40px;
    }
}
/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
    /*Boton registrarse*/
    a.boton_registrarse {
        margin-top: 20px;
    }
 }