# URL FRONTEND
NEXT_PUBLIC_BASE_URL=
# URL BACKEND, temporarl cambiar despues por las que se van a usar en produccion
NEXT_PUBLIC_API_URL=
# CLOUDINARY_NAME
NEXT_PUBLIC_CLOUDINARY_NAME=
# IMAGEN DE PERILF POR DEFAULT
NEXT_PUBLIC_IMAGEN_PERFIL_DEFAULT=
# CORREOS ELECTRONICOS
# Correo principal
CORREO_USUARIO_PRINCIPAL=
# CORREO DE CONTACTO
CORREO_CONTACTO=
# LEGAL
CORREO_LEGAL=