/*
    CSS cuenta verificada
*/
/*contenedor*/
div.contenedor_titulos {
    text-align: center;
}
/*h3*/
h3.subtitulo_h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 0;
}
/*contenedor_formulario*/
div.contenedor_formulario{
    text-align: center;
    /* margin: 20px 0; */
}
/*Parrafo introducir codigo*/
a.texto {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    margin: 10px 0;
    text-decoration: none;
    color: #000000;
}
/* Link iniciar sesion */
a.link_inciar_sesion {
    color: #000000;
    font-size: 1.1rem;
    color: #EBCA9A;
}
/*X-Small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    /*Parrafo introducir codigo*/
    a.texto {
        font-size: 1rem;
    }
    /*Boton verificar*/
    p.pregunta {
        margin-top: 50px;
    }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    /*Te enviamos un codigo*/
    h3.subtitulo_h3 {
        font-size: 1.4rem;
    }  
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    /*cuenta verificada*/
    h3.subtitulo_h3 {
        font-size: 1.2rem;
    }
    /*Parrafo introducir codigo*/
    a.texto {
        font-size: 1.1rem;
    }
}
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    /*Crear cuenta*/
    h3.subtitulo_h3 {
        font-size: 1.5rem;
        margin: 10px 0;
    }
}
/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}