/*
    CSS cuenta verificada
*/
/*ESTILOS GENERALES*/
/*contenedor contenedor_tei_index*/
div.contenedor_tei_index{
    width: 100%;
    height: 100%;
    /* padding: 10px; */
    text-align: center;
    margin-top: 20px;
}
/*Titulo Tlaxcala En Imágenes*/
h1.titulo_principal_h1{
    color: #EBCA9A;
    font-family: 'League Gothic', sans-serif;
    font-size: 2.7rem;
}
/*subtitulo_h6 por tad*/
h6.subtitulo_h6 {
    font-family: 'Open Sans', sans-serif;
}
/*span_tad TAD*/
span.span_tad {
    color: #EBCA9A;
    font-weight: bold;
    margin-left: 70px;
    margin-top: 8px;
}
/*contenedor_formulario*/
/* div.contenedor_formulario{
    margin-top: 10%;
} */
/*contenedor*/
div.contenedor_titulos {
    text-align: center;
}
/*h3*/
h3.subtitulo_h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 0;
}
/*contenedor_formulario*/
div.contenedor_formulario{
    text-align: center;
    /* margin: 20px 0; */
}
/*Parrafo introducir codigo*/
a.texto {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    margin: 10px 0;
    text-decoration: none;
    color: #000000;
}
/* Link iniciar sesion */
a.link_inciar_sesion {
    color: #000000;
    font-size: 1.1rem;
    color: #EBCA9A;
}
/*PIE DE PAGINA*/
/*pie_pagina_index*/
div.pie_pagina_index{
    padding: 10px;
}
/*Links de pie de pagina*/
a.pie_pagina_links {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: .9rem;
    /*EFECTOS*/
    transition: all 0.3s ease 0s;
}
/*HOVER A_LINKS*/
a.pie_pagina_links:hover {
    color:  #EBCA9A;
}
/*FIN HOVER A_LINKS*/

/*Links de pie de pagina*/
a.tad {
    color: #EBCA9A!important;
    font-family: 'Open Sans', sans-serif;
    /*EFECTOS*/
    transition: all 0.3s ease 0s;
}
/*HOVER*/
a.tad:hover {
    color: #000000!important;
}
/*X-Small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    /*Titulo Tlaxcala En Imágenes*/
    h1.titulo_principal_h1{
        font-size: 4rem;
    }
    /*subtitulo_h6 POR*/
    h6.subtitulo_h6 {
        font-size: 1.1rem;
    }
    /*span_tad TAD*/
    span.span_tad {
        font-size: 1.1rem;
        margin-left: 80px;
        margin-top: 10px;
    }
    /*Parrafo introducir codigo*/
    a.texto {
        font-size: 1rem;
    }
    /*pie_pagina_index*/
    div.pie_pagina_index{
        padding: 10px;
    }
    /*Links de pie de pagina*/
    a.pie_pagina_links {
        font-size: 1rem;
    }
    /*Boton verificar*/
    p.pregunta {
        margin-top: 50px;
    }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    /*Titulo Tlaxcala En Imágenes*/
    h1.titulo_principal_h1{
        font-size: 6rem;
    }
    /*subtitulo_h6 POR*/
    h6.subtitulo_h6 {
        font-size: 1.2rem;
    }
    /*span_tad TAD*/
    span.span_tad {
        font-size: 1.3rem;
    }
    /*Te enviamos un codigo*/
    h3.subtitulo_h3 {
        font-size: 1.4rem;
    }  
    /*Links de pie de pagina*/
    a.pie_pagina_links {
        font-size: 1.2rem;
    } 
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    /*Titulo Tlaxcala En Imágenes*/
    h1.titulo_principal_h1{
        font-size: 5rem;
    }
    /*span_tad TAD*/
    span.span_tad {
        font-size: 1rem;
        margin-top: 0px;
    }
    /*Crear cuenta*/
    h3.subtitulo_h3 {
        font-size: 1.2rem;
    }
    /*Parrafo introducir codigo*/
    a.texto {
        font-size: 1.1rem;
    }
    /*pie_pagina_index*/
    div.pie_pagina_index{
        padding: 10px;
    }
    /*Links de pie de pagina*/
    a.pie_pagina_links {
        font-size: 1.2rem;
    }
    /*Contenedor de pie de pagina index*/
    div.pie_pagina_index {
        margin: 50px 0;
    }
}
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    /*Titulo Tlaxcala En Imágenes*/
    h1.titulo_principal_h1{
        font-size: 7rem;
    }
    /*span_tad TAD*/
    span.span_tad {
        font-size: 1.3rem;
        margin-top: 10px;
    }
    /*Crear cuenta*/
    h3.subtitulo_h3 {
        font-size: 1.5rem;
        margin: 10px 0;
    }
}
/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}