/*
*
* ESTILOS A ENCABEZADO PUBLICACION
*
*/
/* div.contenedor_publicaciones */
div.contenedor_publicaciones {
    border-bottom: 1px solid #EBCA9A;
}
/* Boton opciones de la publicacion */
.btn_opciones_publicaciones {
    font-family: 'Open Sans', sans-serif;
    display: block;
    border-bottom: 1px solid rgb(127, 127, 127, 0.2);
    font-size: 1rem;
    text-decoration: none;
    color: #000000;
    margin: 7px;
}
/* btn seguir */
a.btn_seguir {
    color: #EBCA9A ;
}
/* opcion roja */
a.btn_rojo {
    color: red;
}
/*Link con imagen de perfil*/
a.link_perfil_img img {
    height: 60px;
    width: 60px;
}
/*Nombre de usuario*/
h5.nombre_usuario_publicacion {
    font-family: 'League Gothic', sans-serif;
    letter-spacing: 2px;
    font-size: 1.3rem;
    margin: 7px 0;
}
/*Link del nombre de perfil*/
a.link_perfil_usuario {
    text-decoration: none;
    color: #000000;
}
/*ubicacion nombre del municipio*/
p.ubicacion {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}
/*Boton de opciones en la publicacion*/
button.btn_opciones_modal {
    background-color: transparent;
    border: 0;
    width: 100%;
    height: 40px;
}
/* Boton me gusta */
button.like-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 15px 0 15px 10px;
    margin: 5px 0;
}
/* numero me gustas */
p.votaciones {
    margin: 0 0 0 8px;
    font-weight: bold;
    font-size: 15px!important;
}
/* Etiqueta strong me gusta y votaciones tamaño de fuente */
strong.etiqueta_strong, p.votaciones {
    font-size: 0.9rem;
}
/* SVG icon */
button.like-button svg {
    color: black;
    stroke-width: 2px;
    width: 24px;
    height: 24px;
    /* transition: color 0.3s ease, stroke-width 0.3s ease; */
    transition: transform 0.2s ease-in-out;
}
/* Efecto hover al pasar el apuntador por el corazon */
/* Debemos mantener el estilo al precionar el boton me gusta */
button.like-button svg:hover {
    transform: scale(1.1); /* Agranda ligeramente el botón */
    fill: #EBCA9A; /*Relleno del icono*/
    stroke: #EBCA9A; /* Para cambiar el color de la línea del ícono */
    stroke-width: 2.5px; 
  }
/* IMAGEN PUBLICACION */
/* Debido al uso de NEXTJS y el coponente IMAGE debemos poner esta propiedad en el CSS para que la imagen se muestre correctamente en los dispositivos */
.img_publicacion {
    width: 100%;
}
/*X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    /*
    *
    *   ESTILOS A ENCABEZADO PUBLICACION
    *
    */
    /*Link con imagen de perfil*/
    a.link_perfil_img img {
        height: 65px;
        width: 65px;
    }
    /*Nombre de usuario*/
    h5.nombre_usuario_publicacion {
        font-size: 1.5rem;
    }
    /*ubicacion nombre del municipio*/
    p.ubicacion {
        font-size: 0.9rem;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    /*
    *
    *   ESTILOS A ENCABEZADO PUBLICACION
    *
    */
    /*Link con imagen de perfil*/
    a.link_perfil_img img {
        height: 65px;
        width: 65px;
    }
    /*Nombre de usuario*/
    h5.nombre_usuario_publicacion {
        font-size: 1.3rem;
    }
    /*ubicacion nombre del municipio*/
    p.ubicacion {
        font-size: 0.8rem;
    }
    /* div contenedor_publicaciones */
    div.contenedor_publicaciones {
        margin: 20px 0 30px 0;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /*
    *
    *   ESTILOS A ENCABEZADO PUBLICACION
    *
    */
    /* contenedor encabezado_publicacion */
    div.contenedor_encabezado_publicacion {
        margin: 15px 0;
    }
    /*Link con imagen de perfil*/
    a.link_perfil_img img {
        height: 80px;
        width: 80px;
    }
    /*Nombre de usuario*/
    h5.nombre_usuario_publicacion {
        font-size: 1.6rem;
    }
    /*ubicacion nombre del municipio*/
    p.ubicacion {
        font-size: .8rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /*
    *
    *   ESTILOS A ENCABEZADO PUBLICACION
    *
    */
    /* contenedor encabezado_publicacion */
    div.contenedor_encabezado_publicacion {
        margin: 15px 0;
    }
    /*Link con imagen de perfil*/
    a.link_perfil_img img {
        height: 80px;
        width: 80px;
    }
    /*Nombre de usuario*/
    h5.nombre_usuario_publicacion {
        font-size: 1.9rem;
    }
    /*ubicacion nombre del municipio*/
    p.ubicacion {
        font-size: .9rem;
    }
 }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}
