/* Estilos pagina ERROR */
/*contenedor*/
div.contenedor_titulos {
  text-align: center;
}
/*contenedor_formulario*/
div.contenedor_formulario{
  text-align: center;
  /* margin: 20px 0; */
}
/*h3*/
h3.subtitulo_h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px 0;
}
/*Parrafo iniciar sesion*/
p.texto {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  margin: 5px 0;
  text-decoration: none;
  color: #000000;
}
/*Boton try again */
.btn_tryagain {
  /*estilos del boton*/
  /* display: block; */
  background-color: transparent;
  padding: 7px 12px;
  /*estilos de texto del boton*/
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: 1rem;
  /*EFECTOS*/
  transition: all 0.3s ease 0s;
}
/*HOVER boton try again*/
.btn_tryagain:hover {
  color: #EBCA9A;
}
/*X-Small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { }
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  /*cuenta verificada*/
  h3.subtitulo_h3 {
    font-size: 1.5rem;
  } 
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  /*Parrafo iniciar sesion*/
  p.texto {
    font-size: 1.1rem;
  }
}
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  /*Crear cuenta*/
  h3.subtitulo_h3 {
    font-size: 2rem;
    margin: 10px 0;
  }
  /*Parrafo iniciar sesion*/
  p.texto {
    font-size: 1.2rem;
    margin-top: 20px;
  }
}
/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { }