/*ESTILOS GENERALES PARA TODOS LAS PAGINAS(O EN SU MAYORIA PARA TODAS LAS PAGINAS)*/
/*body*/
body{
  background-color: #FFFFFF;
  /* font-family: 'League Gothic', sans-serif;
  font-family: 'Open Sans', sans-serif; */
}
/*
  HEADER PRINCIPAL
*/
/*contenedor contenedor_tei_index*/
div.contenedor_tei_index{
  width: 100%;
  height: 100%;
  /* padding: 10px; */
  text-align: center;
  margin-top: 20px;
}
/*Titulo Tlaxcala En Imágenes*/
h1.titulo_principal_h1{
  color: #EBCA9A;
  font-family: 'League Gothic', sans-serif;
  font-size: 2.7rem;
}
/*subtitulo_h6 por tad*/
h6.subtitulo_h6 {
  font-family: 'Open Sans', sans-serif;
}
/*span_tad TAD*/
span.span_tad {
  color: #EBCA9A;
  font-weight: bold;
  margin-left: 70px;
  margin-top: 8px;
}
/*
  FIN HEADER PRINCIPAL
*/

/*
*
  Header principal superior de APP
*
*/
div.contenedor_menu_superior{
  text-align: center;
  background-color: rgba(255,255,255,0.95);
  border-bottom: 1px solid #EBCA9A;
}
/*Titulo Tlaxcala En Imágenes*/
h1.titulo_header_superior_app{
    margin-top: 10px;
    color: #EBCA9A;
    font-family: 'League Gothic', sans-serif;
    font-size: 1.8rem;
}
/*mostrar_h6_por por tad*/
h6.mostrar_h6_por {
    display: none;
}
/*Fin Titulo Tlaxcala En Imágenes*/
/*
*
  Fin Header principal superior de APP
*
*/


/*Menu inferior*/
/*Los estilos de este menu funcionara hasta antes de llegar al breakpoint de los 768px*/
/*Pasados los 768px se le dara otros estilos al mismo menu*/

/*.contenedor_menu_lateral_inferior*/
div.contenedor_menu_lateral_inferior {
  background-color: rgba(255,255,255,0.95);
}
/*Nombre de opciones*/
span.nombre_opciones_menu {
  display: none;
}
button.opciones_menu {
  width: 100%;
}
/*etiqueta a y button*/
a.opciones_menu, button.opciones_menu {
  color: #EBCA9A;
  padding: 20px 15px;
  /*EFECTOS*/
  transition: all 0.3s ease 0s;
  margin-bottom: 10px;
}

/* hover iconos menu*/
a.opciones_menu:hover {
  background-color:rgb(235, 202, 154, 0.2);
  color: #000000;
}
/* hover iconos menu*/
/* Focus para boton de opciones */
button.opciones_menu:hover, button.opciones_menu:focus {
  background-color:rgb(235, 202, 154, 0.2);
  color: #000000;
}
/* Icono del menu react icons */
.icono_menu {
  font-size: 1.5rem;
  margin: 0 5px;
}
/* Boton POSTEAR */
a.postear {
  background-color:#EBCA9A;
  color: white;
  height:100%;
}
/* Submenu */
.dropdown-menu {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  bottom: 70px;
  right: 0px;
  border: 1px solid #EBCA9A!important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem; /* opcional para que se vea más suave */
}
/* Letras del dropdown*/
.buttonDropDown {
  font-weight: bold!important;
}
.buttonDropDown:active {
  /* color: red!important; */
  background-color: #EBCA9A!important;
}
/* Botones modal confirmacion */
/* btn cancelar */
.btnCancelar {
  background-color: #EBCA9A!important;
  color: #FFFFFF!important;
  transform: .3s ease-in-out!important;
}
.btnCancelar:hover {
  background-color: #FFFFFF!important;
  color: #000000!important;
  border: 1px solid #EBCA9A!important;
}
/* btn cerrar sesion */
.btnCerrarSesion {
  /* background-color: #EBCA9A!important; */
  /* color: #FFFFFF!important; */
  transform: .3s ease-in-out!important;
}
.btnCerrarSesion:hover {
  background-color: #FFFFFF!important;
  color: #fb0202!important;
  border: 1px solid #EBCA9A!important;
}
/*
*
*   Fin Menu inferior
*
*/


/* 
  LINK ACTIVO PARA EL MENU PRINCIPAL
*/
.link-activo {
  color: #000000!important;
}
/* 
  FIN LINK ACTIVO PARA EL MENU PRINCIPAL
*/
/* 
  LINK ACTIVO PARA EL DROPDOWN
*/
.linkActivoDropdown {
  color: #EBCA9A!important;
}
/* 
  FIN LINK ACTIVO PARA EL DROPDOWN
*/


/*
*
*   Div publicidad/sugerencias
*
*/
div.sugerencias {
  display: none;
}

/* 
  COMPONENTE FOOTER 
*/

/*pie_pagina_index*/
div.pie_pagina_index{
  padding: 10px;
}
/*Links de pie de pagina*/
a.pie_pagina_links {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: .9rem;
  /*EFECTOS*/
  transition: all 0.3s ease 0s;
}
/*HOVER A_LINKS*/
a.pie_pagina_links:hover {
  color:  #EBCA9A;
}
/*FIN HOVER A_LINKS*/

/*Links de pie de pagina*/
a.tad {
  color: #EBCA9A!important;
  font-family: 'Open Sans', sans-serif;
  /*EFECTOS*/
  transition: all 0.3s ease 0s;
}
/*HOVER*/
a.tad:hover {
  color: #000000!important;
}
/* 
Spinner de carga
*/
.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* 
  FIN COMPONENTE FOOTER 
*/

/***** 
      MEDIAS QUERYS
*****/
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
  /* 
      HEADER BIENVENIDA A LA APP
  */
  /*subtitulo_h6 POR*/
  h6.subtitulo_h6 {
    font-size: 1.5rem;
  }
  /*span_tad TAD*/
  span.span_tad {
    font-size: 1.1rem;
    margin-left: 80px;
    margin-top: 10px;
  }
  /*
    FIN HEADER BIENVENIDA A LA APP 
  */

  /*
  *
  * HEADER PRINCIPAL DE LA APP
  *
  */
  h1.titulo_header_superior_app{
      font-size: 2.4rem;
  }
  /*Fin Titulo Tlaxcala En Imágenes*/

  /*Menu inferior*/
  /*etiqueta a y button*/
  a.opciones_menu, button.opciones_menu  {
      padding: 10px 25px;
  }
  /*
  *
    Fin Menu inferior
  *
  */
    
  /* 
    COMPONENTE FOOTER 
  */
  /*pie_pagina_index*/
  div.pie_pagina_index{
      padding: 10px;
  }
  /*Links de pie de pagina*/
  a.pie_pagina_links {
      font-size: 1rem;
  }
  /* 
    FIN COMPONENTE FOOTER 
  */
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
  /* 
      HEADER BIENVENIDA A LA APP
  */
  /*Titulo Tlaxcala En Imágenes*/
  h1.titulo_principal_h1{
    font-size: 4rem;
  }
  /*subtitulo_h6 POR*/
  h6.subtitulo_h6 {
      font-size: 1rem;
  }
  /*span_tad TAD*/
  span.span_tad {
      font-size: 1rem;
  }
  /* 
    FIN HEADER BIENVENIDA A LA APP
  */

  /* border */
  div.contenedor_central_contenido {
    border: 2px solid rgb(127, 127, 127, 0.2);
    border-top: 0;
    /* Dar un padding al contenedor central */
    padding: 0 10px 10px 10px;
}
/*
*
*Titulo Tlaxcala En Imágenes
*
*/
h1.titulo_header_superior_app{
    font-size: 4rem;
}
/*mostrar_h6_por por tad*/
h6.mostrar_h6_por {
    display: block;
    font-family: 'Open Sans', sans-serif;
}
/*Por TAD*/
h6.mostrar_h6_por {
    font-size: 0.9rem;
}
/*span_tad_header_app TAD*/
span.span_tad_header_app {
    color: #EBCA9A;
    font-weight: bold;
    margin-left: 70px;
    font-size: .8rem;
}
/*
*
Fin Titulo Tlaxcala En Imágenes
*
*/

/*Contenedor menu lateral-superior*/
div.contenedor_menu_lateral_inferior {
  position: sticky;
  top: 0;
}
/* estilos a ul.menu_inferior_lateral */
ul.menu_inferior_lateral{
  flex-direction: column;
  /* margin-top: 30px ; */
}
/* li.nav-item */
li.nav-item{
  margin: 15px 0;
}
/*Menu inferior*/
  /*etiqueta a*/
  a.opciones_menu, button.opciones_menu {
    text-align: center;
}
/* Tamaño iconos del menu */
/* Icono del menu react icons */
.icono_menu {
    font-size: 1.8rem;
}
/* Submenu */
.dropdown-menu {
  bottom: 60px;
  left: 50px;
}
/*Fin Menu inferior*/

  /* 
    FOOTER
  */
  /*Links de pie de pagina*/
  a.pie_pagina_links {
      font-size: 1.2rem;
  }
  /* 
    FIN FOOTER
  */
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  /* 
    HEADER BIENVENIDA A LA APP
  */
  /*Titulo Tlaxcala En Imágenes*/
  h1.titulo_principal_h1{
    font-size: 4rem;
  }
  /*span_tad TAD*/
  span.span_tad {
      font-size: 0.8rem;
      margin-top: 0px;
  }
  /* 
    FIN HEADER BIENVENIDA A LA APP
  */
  /*pie_pagina_index*/
  div.pie_pagina_index{
      padding: 10px;
  }
  /*Links de pie de pagina*/
  a.pie_pagina_links {
      font-size: 1.2rem;
  }
  /*Contenedor de pie de pagina index*/
  div.pie_pagina_index {
    margin: 10px 0;
  }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  /* 
    HEADER BIENVEIDA A LA APP
  */
  /*Titulo Tlaxcala En Imágenes*/
  h1.titulo_principal_h1{
    font-size: 5rem;
  }
  /*span_tad TAD*/
  span.span_tad {
      font-size: 0.9rem;
  }
  /*  
    FIN HEADER BIENVENIDA A LA APP
  */

  /* Div publicidad/sugerencias */
    /* Se muestra el DIV SUGERENCIAS */
    div.sugerencias {
      display: block;
  }
  /* contenedor_border_divs_sugerencias */
  div.contenedor_border_divs_sugerencias {
    border: 1px solid rgb(127, 127, 127, 0.2);
    border-radius: 16px;
    margin: 20px 5px;
    padding: 15px 5px;
  }
  /* link imagen mas votadas */
  a.link_imagen_mas_votadas {
    text-decoration: none;
  }
  /* nombre de usuario imagenes mas votadas */
  h6.titulo_card {
    font-family: 'League Gothic', sans-serif;
    /* font-weight: bold; */
    font-size: 1rem;
  }
  /* numero de me gustas */
  p.numero_me_gustas {
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 0.8rem;
    font-weight: lighter;
  }
  /* Publicidad leyenda */
  p.publicidad {
    font-family: 'Open Sans', sans-serif;
    margin: 5px 0;
    font-size: .8rem;
    font-weight: lighter;
    letter-spacing: 1px;
  }
  /* 
  *
  enlaces footer sugerencias 
  *
  */
  a.enlaces_footer_sugerencias {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: .8rem;
    color: rgb(127, 127, 127, 0.4);
    font-weight: bold; 
    margin: 15px 0;
  }
  /* hover */
  a.enlaces_footer_sugerencias:hover {
      text-decoration: underline;
      color: rgb(127, 127, 127, 0.6);
  }
  /* titulo imagenes votadas sugerencias */
  h5.titulo_h5_sugerencias_imagenesvotadas {
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0 30px 0;  
    font-size: 1rem;
    font-weight: bold;
  }
  /* TLAXCALA EN IMAGENES FOOTER */
  h6.tei_footer_sugerencias {
      font-size: .8rem;
      color: rgb(127, 127, 127, 0.5);
  }
/* 
  *
  fin enlaces footer sugerencias 
*
*/
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
  /*este contenedor es igual a container-xxl de bootstrap*/
    /*Lo cambio porque necesito que se quite el margen del container-xxl en todas las medidas antes de los 1400px*/
    /*Ademas se puso la clase g-0 para quitar los padding a las columnas en el div del row*/
    div.contenedor_principal {
      --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      width: 100%;
      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5);
      margin-right: auto;
      margin-left: auto;
      max-width: 1320px;
  }
  /*Titulo Tlaxcala En Imágenes*/
  h1.titulo_principal_h1{
    font-size: 6rem;
  }
  /*subtitulo_h6 por tad*/
  h6.subtitulo_h6 {
    font-size: 1.2rem;
  }
  /*span_tad TAD*/
  span.span_tad {
    font-size: 1.3rem;
  }
  /*Contenedor de pie de pagina index*/
  div.pie_pagina_index {
    margin: 50px 0;
  }
}