/*ESTILOS GENERALES PARA TODOS LAS PAGINAS(O EN SU MAYORIA PARA TODAS LAS PAGINAS)*/
/*body*/
body{
  background-color: #FFFFFF;
  /* font-family: 'League Gothic', sans-serif;
  font-family: 'Open Sans', sans-serif; */
}
/*
  HEADER PRINCIPAL
*/
/*contenedor contenedor_tei_index*/
div.contenedor_tei_index{
  width: 100%;
  height: 100%;
  /* padding: 10px; */
  text-align: center;
  margin-top: 20px;
}
/*Titulo Tlaxcala En Imágenes*/
h1.titulo_principal_h1{
  color: #EBCA9A;
  font-family: 'League Gothic', sans-serif;
  font-size: 2.7rem;
}
/*subtitulo_h6 por tad*/
h6.subtitulo_h6 {
  font-family: 'Open Sans', sans-serif;
}
/*span_tad TAD*/
span.span_tad {
  color: #EBCA9A;
  font-weight: bold;
  margin-left: 70px;
  margin-top: 8px;
}
/*
  FIN HEADER PRINCIPAL
*/

/* 
  LINK ACTIVO PARA EL MENU PRINCIPAL
*/
.link-activo {
  color: #000000!important;
}
/* 
  FIN LINK ACTIVO PARA EL MENU PRINCIPAL
*/


/* 
  COMPONENTE FOOTER 
*/

/*pie_pagina_index*/
div.pie_pagina_index{
  padding: 10px;
}
/*Links de pie de pagina*/
a.pie_pagina_links {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: .9rem;
  /*EFECTOS*/
  transition: all 0.3s ease 0s;
}
/*HOVER A_LINKS*/
a.pie_pagina_links:hover {
  color:  #EBCA9A;
}
/*FIN HOVER A_LINKS*/

/*Links de pie de pagina*/
a.tad {
  color: #EBCA9A!important;
  font-family: 'Open Sans', sans-serif;
  /*EFECTOS*/
  transition: all 0.3s ease 0s;
}
/*HOVER*/
a.tad:hover {
  color: #000000!important;
}

/* 
  FIN COMPONENTE FOOTER 
*/

/***** 
      MEDIAS QUERYS
*****/
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
  /* 
      HEADER PRINCIPAL
  */
  /*subtitulo_h6 POR*/
  h6.subtitulo_h6 {
    font-size: 1.5rem;
  }
  /*span_tad TAD*/
  span.span_tad {
    font-size: 1.1rem;
    margin-left: 80px;
    margin-top: 10px;
  }
  /*
    FIN HEADER PRINCIPAL 
  */
    
  /* 
    COMPONENTE FOOTER 
  */
  /*pie_pagina_index*/
  div.pie_pagina_index{
      padding: 10px;
  }
  /*Links de pie de pagina*/
  a.pie_pagina_links {
      font-size: 1rem;
  }
  /* 
    FIN COMPONENTE FOOTER 
  */
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
  /* 
      HEADER PRINCIPAL
  */
  /*Titulo Tlaxcala En Imágenes*/
  h1.titulo_principal_h1{
    font-size: 4rem;
  }
  /*subtitulo_h6 POR*/
  h6.subtitulo_h6 {
      font-size: 1rem;
  }
  /*span_tad TAD*/
  span.span_tad {
      font-size: 1rem;
  }
  /* 
    FIN HEADER PRINCIPAL
  */
  /* 
    FOOTER
  */
  /*Links de pie de pagina*/
  a.pie_pagina_links {
      font-size: 1.2rem;
  }
  /* 
    FIN FOOTER
  */
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  /* 
    HEADER PRINCIPAL
  */
  /*Titulo Tlaxcala En Imágenes*/
  h1.titulo_principal_h1{
    font-size: 4rem;
  }
  /*span_tad TAD*/
  span.span_tad {
      font-size: 0.8rem;
      margin-top: 0px;
  }
  /* 
    FIN HEADER PRINCIPAL
  */
  /*pie_pagina_index*/
  div.pie_pagina_index{
      padding: 10px;
  }
  /*Links de pie de pagina*/
  a.pie_pagina_links {
      font-size: 1.2rem;
  }
  /*Contenedor de pie de pagina index*/
  div.pie_pagina_index {
      margin: 50px 0;
  }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  /* 
    HEADER PRINCIPAL
  */
  /*Titulo Tlaxcala En Imágenes*/
  h1.titulo_principal_h1{
    font-size: 5rem;
  }
  /*span_tad TAD*/
  span.span_tad {
      font-size: 0.9rem;
  }
  /*  
    FIN HEADER PRINCIPAL
  */
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
  /*Titulo Tlaxcala En Imágenes*/
  h1.titulo_principal_h1{
    font-size: 6rem;
  }
  /*subtitulo_h6 por tad*/
  h6.subtitulo_h6 {
    font-size: 1.2rem;
  }
  /*span_tad TAD*/
  span.span_tad {
    font-size: 1.3rem;
  }
}