/*
    font-family: 'League Gothic', sans-serif;
    font-family: 'Open Sans', sans-serif;
*/
/*ESTILOS GENERALES*/
/*body*/
body{
  background-color: #FFFFFF;
  font-family: 'League Gothic', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
