/*ESTILOS GENERALES*/

/*contenedor contenedor_tei_index*/
div.contenedor_tei_index{
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}
/*Titulo Tlaxcala En Imágenes*/
h1.titulo_principal_h1{
    color: #EBCA9A;
    font-family: 'League Gothic', sans-serif;
    font-size: 2rem;
}
/*subtitulo_h6 por tad*/
h6.subtitulo_h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
}
/*span_tad TAD*/
span.span_tad {
    color: #EBCA9A;
    font-weight: bold;
    margin-left: 70px;
    margin-top: 8px;
}
/*contenedor_enlaces_index*/
div.contenedor_enlaces_index{
    padding: 0px 5px 5px 5px;
}
/*contenedor_titulos unete hoy*/
div.contenedor_titulos {
    text-align: center;
}
/*h3*/
h3.subtitulo_h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: .8rem;
}
/*subtitulo_h4*/
h4.subtitulo_h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}
/*contenedor_enlaces botones*/
div.contenedor_enlaces{
    text-align: center;
}

/*a_links botones links*/
a.a_links {
    /*estilos del boton*/
    display: block;
    border: 2px solid #000000;
    margin: 7px 0;  
    border-radius: 20px; 
    padding: 6px 0; 
    /*estilos de texto del boton*/
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: .8rem;
    /*EFECTOS*/
    transition: all 0.3s ease 0s;

}
/*HOVER A_LINKS*/
a.a_links:hover {
    transform: translateY(-4px);
}
/*FIN HOVER A_LINKS*/

/*Icono Google*/
img.google_icon {
    width: 25px;
}

/*span_o*/
span.span_o {
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
}
/*pie_pagina_index*/
div.pie_pagina_index{
    padding: 10px;
}
/*Links de pie de pagina*/
a.pie_pagina_links {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: .9rem;
    /*EFECTOS*/
    transition: all 0.3s ease 0s;
}
/*HOVER A_LINKS*/
a.pie_pagina_links:hover {
    color:  #EBCA9A;
}
/*FIN HOVER A_LINKS*/

/*Links de pie de pagina*/
a.tad {
    color: #EBCA9A!important;
    font-family: 'Open Sans', sans-serif;
    /*EFECTOS*/
    transition: all 0.3s ease 0s;
}
/*HOVER*/
a.tad:hover {
    color: #000000!important;
}

/*X-Small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    
    /*contenedor contenedor_tei_index*/
    div.contenedor_tei_index{
        padding: 20px;
        text-align: center;
    }
    /*Titulo Tlaxcala En Imágenes*/
    h1.titulo_principal_h1{
        font-size: 4rem;
    }
    /*subtitulo_h6 POR*/
    h6.subtitulo_h6 {
        font-size: 1.1rem;
    }
    /*span_tad TAD*/
    span.span_tad {
        font-size: 1.3rem;
        margin-left: 80px;
        margin-top: 10px;
    }
    /*contenedor_enlaces_index*/
    div.contenedor_enlaces_index{
        padding: 10px;
        margin-top: 10%;
    }
    /*h3 Una imagen vale más que mil palabras*/
    h3.subtitulo_h3 {
        font-size: 1.4rem;
        padding: 20px 0;
    }
    /*subtitulo_h4 Únete Hoy*/
    h4.subtitulo_h4 {
        font-size: 2rem;
        font-weight: 300;
        padding: 10px 0;
    }
    /*contenedor_enlaces botones*/
    div.contenedor_enlaces{
        margin-top: 35px;
        padding: 10px;
    }
    /*a_links botones links*/
    a.a_links {
        font-size: 1.2rem;
    }
    /*span_o*/
    span.span_o {
        font-size: 1.3rem;
    }
    /*pie_pagina_index*/
    div.pie_pagina_index{
        padding: 10px;
    }
    /*Links de pie de pagina*/
    a.pie_pagina_links {
        font-size: 1rem;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    /*Estos estilso nos ayudaran a que el div.row del index puedan tener efecto con las clases d-flex align-items-center*/
    div.contenedor_principal {
        height: 100vh;
    }
    /*contenedor contenedor_tei_index*/
    div.contenedor_tei_index{
        padding: 0;
    }
    /*Titulo Tlaxcala En Imágenes*/
    h1.titulo_principal_h1{
        font-size: 6rem;
    }
    /*subtitulo_h6 POR*/
    h6.subtitulo_h6 {
        font-size: 1.3rem;
    }
    /*span_tad TAD*/
    span.span_tad {
        font-size: 1.4rem;
        margin-left: 100px;
    }
    /*contenedor_enlaces_index*/
    div.contenedor_enlaces_index{
        margin-top: 0;
    }
    /*h3 Una imagen vale más que mil palabras*/
    h3.subtitulo_h3 {
        font-size: 1.6rem;
    }
    /*subtitulo_h4 Únete Hoy*/
    h4.subtitulo_h4 {
        font-size: 2.5rem;
        padding: 0;
    }
    /*contenedor_enlaces botones*/
    div.contenedor_enlaces{
        margin-top: 40px;
        padding: 15px;
    }
    /*a_links botones links*/
    a.a_links {
        font-size: 1.4rem;
    }
    /*Icono Google*/
    img.google_icon {
        width: 2.2rem;
        margin-bottom: 3px;
    }
    /*span_o*/
    span.span_o {
        font-size: 1.4rem;
    }
    /*Links de pie de pagina*/
    a.pie_pagina_links {
        font-size: 1.2rem;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    /*contenedor contenedor_tei_index*/
    div.contenedor_tei_index{
        padding: 0;
    }
    /*Titulo Tlaxcala En Imágenes*/
    h1.titulo_principal_h1{
        font-size: 6rem;
    }
    /*subtitulo_h6 POR*/
    h6.subtitulo_h6 {
        font-size: 1.3rem;
    }
    /*span_tad TAD*/
    span.span_tad {
        font-size: 1.4rem;
        margin-left: 100px;
    }
    /*contenedor_enlaces_index*/
    div.contenedor_enlaces_index{
        margin-top: 0;
    }
    /*h3 Una imagen vale más que mil palabras*/
    h3.subtitulo_h3 {
        font-size: 1.6rem;
    }
    /*subtitulo_h4 Únete Hoy*/
    h4.subtitulo_h4 {
        font-size: 2.5rem;
        padding: 0;
    }
    /*contenedor_enlaces botones*/
    div.contenedor_enlaces{
        margin-top: 40px;
        padding: 15px;
    }
    /*a_links botones links*/
    a.a_links {
        font-size: 1.4rem;
    }
    /*Icono Google*/
    img.google_icon {
        width: 2.2rem;
        margin-bottom: 3px;
    }
    /*span_o*/
    span.span_o {
        font-size: 1.4rem;
    }
    /*pie_pagina_index*/
    div.pie_pagina_index{
        padding: 10px;
    }
    /*Links de pie de pagina*/
    a.pie_pagina_links {
        font-size: 1.2rem;
    }
    /*Contenedor de pie de pagina index*/
    div.pie_pagina_index {
        margin: 50px 0;
    }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    /*Titulo Tlaxcala En Imágenes*/
    h1.titulo_principal_h1{
        font-size: 7rem;
    }
    /*contenedor_enlaces botones*/
    div.contenedor_enlaces{
        max-width: 600px;
        margin: 0 auto;
    }
    /*Estilos div botones enlaces */
    /*div.boton {
        border: 2px solid #000000;
        margin: 15px 0;  
        border-radius: 20px; 
        padding: 8px 0; 
    }*/
    /*Icono Google*/
    img.google_icon {
        width: 25px;
    }
    /*a_links botones links*/
    a.a_links {
        color: #000000;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        font-size: 1rem;
    }    
    /*Links de pie de pagina*/
    a.pie_pagina_links {
        font-size: 1.5rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
    /*Titulo Tlaxcala En Imágenes*/
    h1.titulo_principal_h1{
        font-size: 8.5rem;
    }
 }
