/* Estilos pagina no encontrada */
/*contenedor*/
div.contenedor_titulos {
  text-align: center;
}
/*contenedor_formulario*/
div.contenedor_formulario{
  text-align: center;
  /* margin: 20px 0; */
}
/*h3*/
h3.subtitulo_h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 0;
}
/*Boton registrarse*/
.boton_registrarse {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 3px 25px;
  border: 2px solid #EBCA9A;
  color: #EBCA9A;
  /*EFECTOS*/
  transition: all 0.3s ease 0s;
}
/*Hover boton*/
.boton_registrarse:hover {
  background-color: #EBCA9A;
  color: #FFFFFF;
}
/*FIN HOVER A_LINKS*/
/*X-Small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { }
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
 
}
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  /*Parrafo Link iniciar sesion*/
  p.texto {
    /* margin-top: 10px; */
    font-size: 1.3rem;
  }
}
/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { }