/* Estilos de pagina crear cuenta */

/*contenedor*/
div.contenedor_titulos {
    text-align: center;
}
/*h3*/
h3.subtitulo_h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 0;
}
/*contenedor_formulario*/
div.contenedor_formulario{
    text-align: center;
}
/* contenedor del input */
div.contenedor_input {
    margin-bottom: 15px;
}
/*Inputs formulario*/
input.inputs_crear_cuenta{
    border-radius: 20px;
    border: 2px solid #000000;
}
input.inputs_crear_cuenta:focus{
    border: 2px solid #000000;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
}
/*Boton registrarse*/
button.boton_registrarse {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 3px 25px;
    border: 2px solid #EBCA9A;
    color: #EBCA9A;
    /*EFECTOS*/
    transition: all 0.3s ease 0s;
}
/*Hover boton*/
button.boton_registrarse:hover {
    background-color: #EBCA9A;
    color: #FFFFFF;
}
/*Parrafo Link iniciar sesion*/
p.pregunta {
    font-family: 'Open Sans', sans-serif;
}
/*Link iniciar sesion*/
a.enlace_iniciar_sesion {
    text-decoration: none;
    color: #EBCA9A;
    /*EFECTOS*/
    transition: all 0.3s ease;
}
a.enlace_iniciar_sesion:hover {
    font-weight: bold;
}
/*X-Small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    /*Parrafo Link iniciar sesion*/
    p.pregunta {
        font-size: 1.1rem;
    }
    /*Link iniciar sesion*/
    a.enlace_iniciar_sesion {
        margin-left: 5px;
    }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    /* contenedor del input */
    div.contenedor_input {
        margin-bottom: 9px;
    }
    /*Crear cuenta*/
    h3.subtitulo_h3 {
        font-size: 1.4rem;
    }
    /*Inputs*/
    input.inputs_crear_cuenta {
        font-size: 1.1rem;
    }
    /*Boton registrarse*/
    button.boton_registrarse {
        font-size: 1.3rem;
        padding: 4px 30px;
    }
    /*Parrafo Link iniciar sesion*/
    p.pregunta {
        font-size: 1.2rem;
    }
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    /*Crear cuenta*/
    h3.subtitulo_h3 {
        font-size: 1.2rem;
        margin: 0;
    }
    /*Inputs*/
    input.inputs_crear_cuenta {
        font-size: 0.9rem;
    }
    /*Boton registrarse*/
    button.boton_registrarse {
        font-size: 0.8rem;
        padding: 3px 30px;
        margin: 0!important;
    }
    /*Parrafo Link iniciar sesion*/
    p.pregunta {
        font-size: 1rem;
    }
}
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    /*Crear cuenta*/
    h3.subtitulo_h3 {
        font-size: 1.5rem;
        /* margin: 10px 0; */
    }
    /*Inputs*/
    input.inputs_crear_cuenta {
        font-size: 1rem;
        /* margin: 15px 0!important; */
    }
    /*Boton registrarse*/
    button.boton_registrarse {
        font-size: 1rem;
        padding: 4px 30px;
    }
    /*Parrafo Link iniciar sesion*/
    p.pregunta {
        margin-top: 0px;
    }
}
/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
    /*Boton registrarse*/
    button.boton_registrarse {
        margin-top: 30px;
    }
 }