/* *

Favoritos

* */
/* Boton para cargare mas favoritos */
.btnCargarMas {
  cursor: pointer;
  background-color: #FFFFFF;
  color: #EBCA9A;
  transform: .3s ease-in-out;
  border: 1PX SOLID #EBCA9A;
  display: inline-block;
  width: 100px;
  height: 38px;
  border-radius: 5px;
}
.btnCargarMas:hover {
  color: #D4B68B;
}

/*X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { }
